{% extends "admin/change_list.html" %}

{% block extrahead %}
  {{ block.super }}
  <meta http-equiv="refresh" content="5">
{% endblock %}

{% block object-tools-items %}
  <li>
    <a href="{% url 'admin:jobs_dashboard' %}" class="button">
      Job Dashboard
    </a>
  </li>
  {{ block.super }}
{% endblock %}

{% block content %}
  {{ block.super }}
  <script>
    // Inject CSRF tokens into stop-job forms and add confirmation
    (function() {
      var token = document.querySelector('[name=csrfmiddlewaretoken]');
      if (!token) return;
      document.querySelectorAll('.stop-job-form').forEach(function(form) {
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'csrfmiddlewaretoken';
        input.value = token.value;
        form.insertBefore(input, form.firstChild);
        form.addEventListener('submit', function(e) {});
      });
    })();
  </script>
{% endblock %}
